:root{
 --duration-short:.2s;--duration-medium:.3s;--duration-large:.5s;--animation-bezier:ease;
 --font-body-family:'Inter',Arial,sans-serif;--font-body-style:normal;--font-body-weight:400;--font-body-weight-bold:700;
 --font-heading-family:'Inter',Arial,sans-serif;--font-heading-style:normal;--font-heading-weight:500;--font-heading-line-height:normal;
 --font-button-family:'Inter',Arial,sans-serif;--font-button-style:normal;--font-button-weight:700;
 --font-mainmenu-family:'Inter',Arial,sans-serif;--font-mainmenu-style:normal;--font-mainmenu-weight:500;
 --font-h4h5h6-family:'Inter',Arial,sans-serif;--font-h4h5h6-style:normal;--font-h4h5h6-weight:500;
 --font-price-family:'Inter',Arial,sans-serif;--font-price-style:normal;--font-price-weight:500;
 --font-heading-scale:1;--font-body-scale:1;
 --color-body-background:#fff;--color-body-background-rgb:255,255,255;--color-secondary-background:#f0f0f0;--color-secondary-background-rgb:240,240,240;
 --color-section-background:var(--color-secondary-background);--color-base:#000;--color-base-rgb:0,0,0;--color-accent:#304ffe;--color-lines:#d9d9d9;--color-error:#d32f2f;
 --color-media-background:#fff;--color-media-background-hover:#000;--color-media-icon-main:var(--color-base);--color-media-icon-hover-main:#fff;
 --swiper-pagination-bullet-main:var(--color-base);--swiper-pagination-arrow-main:var(--color-base);--color-tooltip-text:#fff;
 --color-heading-main:var(--color-base);--color-subheading-main:var(--color-accent);--color-text-main:var(--color-base);--color-text-link-main:var(--color-accent);--color-text-link-hover-main:var(--color-accent);
 --color-text-icons-main:var(--color-base);--color-icons-main:var(--color-base);--color-icons-hover-main:var(--color-accent);--color-social-icons-main:var(--color-base);--color-social-icons-hover-main:var(--color-accent);--color-tooltip-main:#000;
 --color-image-overlay:var(--color-base-rgb);--color-image-overlay-hex:var(--color-base);--color-card-text-main:var(--color-base);--color-product-name-main:var(--color-base);--color-product-name-main-hover:var(--color-accent);--color-price-main:var(--color-accent);--color-save-price:#f44336;
 --page-width:1600px;--padding-wide-horizontal:20px;--grid-desktop-horizontal-spacing:20px;--grid-mobile-horizontal-spacing:10px;
 --buttons-radius:8px;--inputs-radius:8px;--badges-radius:8px;--product-card-radius:8px;--roundness:20px;
}
.signature-icon{width:20px;height:20px;display:block;object-fit:contain}.width-100{width:100%}
